.FormInput {
    display: flex;
    margin: 24px;
    font-size: 24px;
    justify-content: space-between;

    > label {
        margin-right: 16px;
    }

    > input {
        font-size: 24px;
        border: 2px solid black;
        border-radius: 6px;
    }
}