.MainFormContainer {
    display: flex;
    width: 70%;
    height: auto;
    margin: 0 auto;
    align-items: center;
    justify-content: flex-start;
    background-color: #b3bcc9;
    border-radius: 8px;
}
.CustomForm {
    display: flex;
    flex-direction: column;
    margin: 24px auto;
}

.FormInputs {
    display: flex;
    flex-direction: column;
}

.FormHeading {
    font-size: 24px;
}

.SubmitButton {
    display: flex;
    justify-content: center;
    align-items: center;

    > button {
        font-size: 24px;
        font-weight: 600;
        padding: 8px 18px;
        border-radius: 8px;
        background: aquamarine;
    }
}